:root { --md-typeset-color: #1a1a1a; }
[data-md-color-scheme="default"] {
    --md-typeset-color: #1a1a1a;
    --md-code-fg-color: #d32f2f;
    --md-typeset-a-color: #d32f2f;
    --md-default-fg-color--light: #d32f2f;
}
[data-md-color-scheme="slate"] { --md-typeset-color: #ffffff; }
